@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400&display=swap");
:root {
  scroll-behavior: auto;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
body {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  background-color: #ddd;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #c5c5c5;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: #1c212f;
  border-radius: 1px;
}
.clic {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 999;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.hover img {
  transition: 1s;
}
.hover:hover img {
  transform: scale(0.9);
}
.cro{
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 9999999;
  border-radius: 30px;
  background-color: burlywood;
  pointer-events: none;
  mix-blend-mode: difference;
}
.hoverHide{
  overflow: hidden;
}
.hover img {
  transition: 1s;
  overflow: hidden;
}
.hover:hover img{
  transform: scale(1.1);
  overflow: hidden;
}
@media screen and (min-width:200px) and (max-width:600px) {
  .col-md-3{
    width: 50%;
  }
  .col-md-3 p,.change p{
    font-size: 10px;
  }
  .col-md-3 h4,.change h4{
    font-size: 15px;
  }
}
@media screen and (min-width:200px) and (max-width:300px) {
  .col-md-3 p,.change p{
    font-size: 8px;
  }
}
@media screen and (min-width:200px) and (max-width:600px) {
  .change{
    width: 40%;
  }
  .change .imge-watchz img{
    width: 50%;

  }
}
.right-anmation{
  position: relative;
  left: 97%;
} 
.left-anmation{
   position: relative;
   left: -82%;
} 
.left-anmations{
  position: relative;
  left: -80%;
} 
.right-anmation-def{
   position: relative;
   left: -90%;
} 
.left-anmation-def{
    position: relative;
    left: 110%;

} 
.right-anmation-acsesor{
   position: relative;
   left: 97%;
}
.right-anmation-deff{
   position: relative;
   left: 97%;
} 
.top-anmation{
  position: relative;
  top: 100%;
  }
   